spring:
  application:
    name: Fitassist

  profiles:
    active: ${SPRING_PROFILES_ACTIVE}

  config:
    import: optional:file:.env.properties

  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    open-in-view: false
    defer-datasource-initialization: true

  sql:
    init:
      mode: always

  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB

  threads:
    virtual:
      enabled: true

  cloud:
    aws:
      region:
        static: eu-central-1

management:
  endpoints:
    web:
      exposure:
        include: "health"
  endpoint:
    health:
      probes:
        enabled: true

server:
  port: 8000
