spring:
  application:
    name: SimpleFullStackProject
  devtools:
    restart:
      enabled: false
  cache:
    type: redis
  data:
    redis:
      host: localhost
      port: 6379
      connect-timeout: 60000
  mail:
    host: smtp.gmail.com
    port: 587
    username: petadoptiontoken@gmail.com
    password: ***REMOVED***
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  datasource:
    url: jdbc:mysql://localhost:3306/full_stack_project
    username: root
    password: ***REMOVED***
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  threads:
    virtual:
      enabled: true
jws:
  sharedKey: ***REMOVED***
server:
  port: 8000
logging:
  level:
    org.springframework.cache: DEBUG