spring:
  application:
    name: SimpleFullStackProject
  data:
    redis:
      host: localhost
      port: 6379
      connect-timeout: 60000
  datasource:
    url: jdbc:mysql://localhost:3308/main-db
    username: root
    password: root
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  cache:
    type: redis
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  threads:
    virtual:
      enabled: true
  cloud:
    aws:
      s3:
        enabled: true
      credentials:
        access-key: ${AWS_ACCESS_KEY_ID}
        secret-key: ${AWS_SECRET_ACCESS_KEY}
      region:
        static: eu-central-1
s3:
  bucket:
    name: ${S3_BUCKET_NAME}
jws:
  sharedKey: ***REMOVED***
server:
  port: 8000
logging:
  level:
    org.springframework.cache: DEBUG
rate-limiter:
  user-rate: 8
  user-interval: 1
  key-rate: 5
  key-interval: 1