spring:
  application:
    name: Fitassist

  mvc:
    format:
      date: yyyy-MM-dd
      date-time: yyyy-MM-dd'T'HH:mm:ss

  profiles:
    active: ${SPRING_PROFILES_ACTIVE}

  config:
    import: optional:file:.env.properties

  data:
    redis:
      repositories:
        enabled: false

  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    open-in-view: false
    defer-datasource-initialization: true

  sql:
    init:
      mode: always

  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB

  threads:
    virtual:
      enabled: true

  cloud:
    aws:
      region:
        static: eu-central-1

management:
  endpoints:
    web:
      exposure:
        include: "health"
  endpoint:
    health:
      probes:
        enabled: true

server:
  port: 8000

cors:
  allowed-origins: []

cookie:
  access-token:
    name: accessToken
    max-age: 900
  refresh-token:
    name: refreshToken
    max-age: 604800
  rate-limit:
    name: rateLimitId
    max-age: 300

password-reset:
  token-type: resetToken
  token-duration-minutes: 20

jws:
  sharedKey: ${JWT_SECRET_KEY}
