spring:
  application:
    name: SimpleFullStackProject
  devtools:
    restart:
      enabled: false
  cache:
    type: redis
  data:
    redis:
      host: localhost
      port: 6379
      connect-timeout: 60000
  mail:
    host: smtp.gmail.com
    port: 587
    username: petadoptiontoken@gmail.com
    password: fjdx ekcu liue qcfz
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  datasource:
    url: jdbc:mysql://localhost:3306/full_stack_project
    username: root
    password: Artem2005
  jpa:
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

  threads:
    virtual:
      enabled: true
jws:
  sharedKey: 1234567890qwertyuiopasdfghjklzxcvbnmaskdjfjasdhfjasdgfoweqryuieqwhzcnxvb32u46832tgdnsabfwry3210478gfdxhzbDSOFY1320486321Thgf9d761328947gdsafhga03128412360gasdfhbgcvnbaskhdfga
server:
  port: 8000
logging:
  level:
    org.springframework.cache: DEBUG
rate-limiter:
  user-rate: 8
  user-interval: 1
  key-rate: 5
  key-interval: 1