<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Activity</title>
</head>
<body>
<main layout:fragment="content">
    <h1 id="activityName">Default title</h1>
    <div id="activityDetails" class="activityDetails">
        <p id="activityDetailsError"></p>
    </div>
    <div id="activityDetailsButtons" class="activityDetailsButtons">
        <input type="number" id="time" placeholder="Enter time" required>
        <button id="calculateCaloriesBurned">Calculate</button>
        <button id="addToDailyActivities">Add</button>
        <p id="buttonsActivityError"></p>
    </div>
    <div id="calculatorSection">
        <h2>Calories Burned Calculator</h2>
        <label for="activityType">Choose activity type:</label>
        <select id="activityType">
            <!-- Options will be populated dynamically -->
        </select>
        <label for="specificActivity">Choose specific activity:</label>
        <select id="specificActivity">
            <!-- Options will be populated dynamically -->
        </select>
        <input type="number" id="calculatorTime" placeholder="Enter time" required>
        <button id="calculateCalories">Calculate Calories</button>
        <p id="calculatorError"></p>
        <div id="calculatedCalories">
            <!-- Calculated calories will be displayed here -->
        </div>
    </div>
</main>
</body>
</html>