<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Activity</title>
</head>
<body>
<main layout:fragment="content">
    <h1 id="activityName">Default title</h1>
    <div id="activityDetails" class="activityDetails">
        <p id="activityDetailsError"></p>
    </div>
    <div id="activityDetailsButtons" class="activityDetailsButtons">
        <input type="number" id="time" placeholder="Enter time" required>
        <button id="calculateCaloriesBurned">Calculate</button>
        <button id="addToDailyActivities">Add</button>
        <p id="buttonsActivityError"></p>
    </div>
</main>
</body>
</html>