<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Add Food</title>
</head>
<body>
<main layout:fragment="content">
    <h1>Add Food</h1>
    <form id="addFoodForm">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="calories">Calories:</label>
            <input type="text" id="calories" name="calories" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="protein">Protein:</label>
            <input type="text" id="protein" name="protein" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="fat">Fat:</label>
            <input type="text" id="fat" name="fat" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="carbohydrates">Carbohydrates:</label>
            <input type="text" id="carbohydrates" name="carbohydrates" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="categoryName">Category Name:</label>
            <select id="categoryName" name="categoryName" class="form-control" required>
                <option value="Fruits">fruits</option>
                <option value="Vegetables">vegetables</option>
                <option value="Grains and Cereals">grains and cereals</option>
                <option value="Meat">meat</option>
                <option value="Seafood">seafood</option>
                <option value="Nuts and Seeds">nuts and seeds</option>
                <option value="Dairy">dairy</option>
                <option value="Oils">oils</option>
                <option value="Beverages">beverages</option>
                <option value="Sweets and Snacks">sweets and snacks</option>
                <option value="Condiments and Sauces">condiments and sauces</option>
                <option value="Prepared and Processed">prepared and processed</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Add Activity</button>
    </form>
    <p id="addFoodError"></p>
</main>
</body>
</html>