<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body>
<header>
    <nav>
        <ul class="navbar">
            <li class="navbar-item">
                <form id="searchForm" class="search-form" autocomplete="off">
                    <input type="search" placeholder="Search..." id="searchInput" class="search-input" required>
                    <button type="submit"  class="search-button">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </li>
            <li class="navbar-item">
                <a href="/index" class="navbar-link">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li class="navbar">
                <a href="/activities" class="navbar-link">
                    <i class="fas fa-running"></i>
                </a>
            </li>
            <li class="navbar-item">
                <a href="#" class="navbar-link" id="openCalculatorModal">
                    <i class="fas fa-calculator"></i>
                </a>
            </li>
            <li class="navbar-item">
                <a href="/cart" class="navbar-link">
                    <i class="fas fa-shopping-cart"></i>
                </a>
            </li>
            <li class="navbar-item">
                <a href="/userInfo" class="navbar-link">
                    <i class="fas fa-user"></i>
                </a>
            </li>
            <li class="navbar-item admin-only" style="display:none;">
                <a href="/foods/add" class="navbar-link">
                    <i class="fas fa-plus-circle"></i> Add Food
                </a>
            </li>
            <li class="navbar-item admin-only" style="display:none;">
                <a href="/activities/add" class="navbar-link">
                    <i class="fas fa-plus-circle"></i> Add Activity
                </a>
            </li>
        </ul>
    </nav>
</header>
<main layout:fragment="content" class="container"></main>
<div id="calculatorModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Calories Burned Calculator</h2>
        <label for="activityType">Choose activity type:</label>
        <select id="activityType"></select>
        <label for="specificActivity">Choose specific activity:</label>
        <select id="specificActivity"></select>
        <button id="selectActivityBtn">Select</button>
        <p id="calculatorError"></p>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jwt-decode/build/jwt-decode.min.js"></script>
<script type="module" src="/script.js"></script>
<script type="module" src="/auth.js"></script>
<script type="module" src="/food.js"></script>
<script type="module" src="/user.js"></script>
<script type="module" src="/utils.js"></script>
<script type="module" src="/cart.js"></script>
<script type="module" src="/activity.js"></script>
</body>
</html>
